{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">

        </div>
        <div class="mx-5 col-6">
            <h1>Inscription</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary">S'inscrire</button>
            {{ form_end(registrationForm) }}
            <hr>
            <p class="mt-4">Vous avez déjà un compte ? <a href="{{ path('app_login') }}" class="mt-3 link-underline link-underline-opacity-0">Se connecter</a></p>
        </div>

    </div>
{% endblock %}
