{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="d-flex flex-wrap justify-content-between">
                {% for service in services %}
                    <div class="card mt-3" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ service.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Durée : {{ service.duration }} minutes</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Prix : {{ service.price }}€</h6>
                            <p class="card-text">{{ service.description | u.truncate(100, '...') }}</p>
                            <a href="{{ path('app_booking_create', {'id': service.id}) }}" class="card-link">Réserver</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
