{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {% if message is defined %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <h1>{{ booking.service.name }}</h1>
            <h4>{{ booking.service.cityCode }} {{ booking.service.city }}</h4>
            <h4>{{ booking.service.adress }}</h4>
            <strong>Date de réservation: {{ booking.startDate | date() }}</strong>
            <p>{{ booking.service.description }}</p>

        </div>
    </div>
{% endblock %}

